{%load staticfiles%}
<html class="csstransforms csstransforms3d csstransitions"><head>
<meta charset="UTF-8">
	<title>MLOAN:Payday loan in india | Instant cash loan in 1 hour in India | Mini loan inIndia</title>

<!-- <meta name="keyword" content="Money for Loan,mloan.com,loan,loans,payday loan,i need a loan urgently, i need a loan now, i need a loan,instant cash loan in 1 hour, urgent cash loan today India, mini loans in minutes, mini cash loan in India, mini cash loan online, mini loan in India, loan in minutes, immediate cash loans in India,immediate cash loans in India, Instant cash loan online, Mini loans in minutes,Payday loan in India, mini cash loan online,mini cash loan in India, Instant loan online, 1 hour loans by phone, I want money today,instant loan,instant loan in delhi,instant loan in mumbai,instant loan in mumbai,instant loan in hyderabad,instant loan in bangalore,payday loan in bangalore,payday loan in mumbai,payday loan in hyderabad,mloan.com,mloan,quicken loan,instant online loan,online loan,short term loan,instant cash loan in 1 hour in india,urgent cash loan in delhi,cash loan,instant cash loan
">
	<meta name="description" content="Amount of loan you can borrow :- Rs.5k to 1 lakhs at low interest rate.We provide cash loans, Instant loan in Delhi NCR/hyderabad/Bangalore/Mumbai,short term quick loans,online payday personal Loan,quick cash loans in india from leading private finance company mloan.com">
    <meta charset="utf-8"> -->
<link rel="shortcut icon" href="/static/images/apple-touch-icon.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="robots" content="INDEX,FOLLOW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="lgMcLMRvLtZwDoRPYWweHXCw9mmgyUdxpSukg9qWxd0">
	<!-- <link rel="shortcut icon" type="image/x-icon" href="http://www.mloan.com/public/assets/css/favicon.png"> -->
	<link rel="stylesheet"  href="{% static "css/sstyle.css"%}">
	<link rel="stylesheet"  href="{% static "css/jquery-ui.css"%}">
	<link rel="stylesheet"  href="{% static "css/rangeslider.css"%}">
	<link rel="stylesheet"  href="{% static "css/whng.css"%}">
	<!-- <link rel="stylesheet" id="ABdev_animo-animate-css" href="http://www.loan4smile.com/public/assets/newlook/css/animo-animate.css" type="text/css" media="all">
	<link rel="stylesheet" id="ABdev_tipsy-css" href="http://www.loan4smile.com/public/assets/newlook/css/tipsy.css" type="text/css" media="all">
	<link rel="stylesheet" id="ABdev_prettify-css" href="http://www.loan4smile.com/public/assets/newlook/css/prettify.css" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" href="http://www.loan4smile.com/public/assets/newlook/rs-plugin/css/settings.css" media="screen">
	<link rel="stylesheet" id="fancybox-css" href="http://www.loan4smile.com/public/assets/newlook/css/jquery.fancybox-1.3.4.css" type="text/css" media="all">
	<link rel="stylesheet" id="main_css-css" href="http://www.loan4smile.com/public/assets/newlook/css/newcss/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="responsive_css-css" href="http://www.loan4smile.com/public/assets/newlook/css/responsive.css" type="text/css" media="all"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	</head>
	<body style="";>











	<div id="ABdev_header"  >
		<section id="frontpage_slider" style="background-image: url(/static/images/p3.jpg); background-repeat: no-repeat; background-size: cover; ">
			<!-- START REVOLUTION SLIDER fullwidth mode -->
			<div id="rev_slider_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="overflow: visible; height: 740px; " >
				<div id="rev_slider" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 740px; height: 502px;">
					<ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
						<li data-transition="fade" data-slotamount="1" data-masterspeed="0" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
							<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" data-src="public/assets/newlook/content_images/backbanner1.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;public/assets/newlook/content_images/backbanner1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; position: relative;"></div></div>
							<div class="tp-caption medium_blue sfb start" data-x="0" data-y="200" data-speed="250" data-start="900" data-easing="easeOutExpo" style="visibility: visible; opacity: 1; top: 136px; left: 0px; transform: none;">

							<div class=" CalBoxSlide" style="margin-left:300px;">
							<div class="MainCashBox">
							<p class="RangSlideContent">What is your loan amount?</p>
							<div class="LoanAmountBox"><span class="LoanAmountValue"><i class="fa fa-inr"></i> <span id="borrowamount">30000</span></span></div>
							<div class="rangeSlideImg">
							<span class="rangeSliderMinus" id="amountminus" ><img class="AmountMinusImg" src="/static/images/mines1.png" alt="MLoan minus" style="width: 41.3966px; height: 34.6103px;">&nbsp&nbsp</span>

							<div class="slider" id="designQualityAmount">
							<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 26.3158%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 26.3158%;"><div class="ui-slider-tooltip amt" aria-hidden="true"></div></span></div>
								  <input class="answer" type="hidden">
							</div>
							<span class="rangeSliderPlus" id="amountplus"><img src="/static/images/plus.png" alt="MLoan Plus" class="AmountPlusImg" style="width: 41.3966px; height: 34.6103px;"></span>
							</div>
							</div>
							<div class="MainDayBox">
							<p class="RangSlideContent1">Duration of loan?</p>
							<div class="LoanDaysBox"><span class="LoanDaysValue"><span id="days">15</span> Days</span></div>
							<div class="rangeSlideImg1">
							<span class="rangeSliderMinus" id="daysminus"><img src="/static/images/mines1.png" alt="MLoan Minus" class="AmountMinusImg" style="width: 41.3966px; height: 34.6103px;"></span>

							<div class="slider" id="designQualityDay">
							<div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 15.7303%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 15.7303%;"><div class="ui-slider-tooltip day" aria-hidden="true"></div></span></div>
								  <input class="answer" type="hidden">
							</div>
							<span class="rangeSliderPlus" id="daysplus"><img src="/static/images/plus.png" alt="MLoan Plus" class="AmountPlusImg" style="width: 41.3966px; height: 34.6103px;"></span>
							</div>

							<div class="repayDateMain">
							<span class="repayDateFixed">Repayment date:</span>
							<span id="repayDate">Saturday 30 November 2019</span>
							</div>
							</div>



							<div class="AmountTimeDetails">
							<div class=" BorrowAmount">
							Borrowing :<span style="color:#FF7800"> Rs</span>
							<span id="borrowamount" class="BorrowAmountNumber">30000</span>
							</div>
							<div class=" LoanTime"><i class="fa fa-plus"></i></div>
							<div class=" InterestRate"></br>
								Interest :<span style="color:#FF7800"> Rs</span>
								<span id="interest" class="BorrowAmountNumber">4500</span>
							</div>
							<div class=" LoanEqualSymbol" style="font-size: 38px; font-weight: bold;"><span class="fa fa-equal"></span></div>
							<div class="TotalAmount">
								Total to repay :<span style="color:#FF7800"> Rs</span>
								<span id="totalamount" class="BorrowAmountNumber">34500</span>
							</div>
							</div>




							<div class="col-4 tCenter">

<form action="/form" method="get" >
<!--<form action="http://www.loanwalle.com/loan/apply" method="get">-->
								<input type="hidden" name="princple" value="30000" id="borrowamountINP">
								<input type="hidden" name="interest" value="4500" id="interestamountINP">
								<input type="hidden" name="total" value="34500" id="totalamountINP">
								<input type="hidden" name="days" value="15" id="daysINP">
								<!--<input type="hidden" name="utm_source" value="website" id="utm_source">
								<input type="hidden" name="utm_term" value="" id="utm_term">-->
<input type="hidden" name="utm_source" value="mloan" id="utm_source">
<input type="hidden" name="utm_term" value="" id="utm_term">
								<input type="submit" name="submit" class="btn applyNowbtn orangeBtn" value="Apply Now">
							<div class="representativeExp">
							<p class="RepExam">Representative example</p>

                           <!--<p class=""><b>This is redirected to our parent company website <a href="http://www.loanwalle.com" title="Loanwalle.com">www.loanwalle.com</a></b></p>-->
							<p>Borrow Rs.30,000 (for 15 days) and pay Rs. 4500 at 1.0% a day. The total repayable amount post 15 days is Rs. 34,500. </p>

                            <!-- start onetine processing fee--->
							<!--<div class="processingFee1" style="color:red">
								No Processing Fee

							</div>-->
							<!-- onetine processing fee end--->
							</div>
</form>
							</div>
							</div>
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="width: 100%;"></div>
				<div class="tp-loader" style="display: none;"></div></div>
			</div>
	<!-- END REVOLUTION SLIDER -->
	</section>
	</div>




<section class="ABs_callout_box ABs_callout_box_as_section ABs_callout_box_1">
      <div class="container">
        <div class="row">
          <div class="span12"> <span class="ABs_callout_box_title">Rates &amp; Terms</span>
            <p>Loan amount: Rs. 5,000 to 1,00,000. Rate of interest @ 1.0%  to 2.0% per day. Loan duration: 1 days to 90 days.</p>
            <p>Late payment charges: 2.0% to 4.0% per day Interest will continue to be charged up to a maximum of 30 days from your repayment date.</p>
<p style="color:red">This offer can differ from person to person*.</p>
          </div>
        </div>
      </div>
    </section>

	<!-- <script type='text/javascript' src='http://www.loan4smile.com/public/assets/newlook/js/jquery.js'></script> -->
	<script src="/static/js/jquery/jquery-2.0.3.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery/jquery-ui.min.js"></script>

<!-- Google Analytics end-->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJ4WRXX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script type="text/javascript">

// get date with formate
function date_disp(d)
{
	var someDate = new Date();
	var weekday=new Array(7);
	weekday[0]="Sunday";
	weekday[1]="Monday";
	weekday[2]="Tuesday";
	weekday[3]="Wednesday";
	weekday[4]="Thursday";
	weekday[5]="Friday";
	weekday[6]="Saturday";
	var monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
	var numberOfDaysToAdd = d;
	someDate.setDate(parseInt(someDate.getDate()) + parseInt(numberOfDaysToAdd));
	var dd = someDate.getDate();
	var mm = someDate.getMonth() ;
	var y = someDate.getFullYear();
	var someFormattedDate = weekday[someDate.getDay()]+' '+dd + ' '+ monthNames[mm] + ' '+ y;
		jQuery("#repayDate").text(someFormattedDate);
}
//get intrest
function getInt(p,d)
{
	var I=(p*d*1.0)/100;
 var pf=(p*5)/100;
 jQuery("#processing").text(pf.toFixed(0));
	var total = (+p) + (+I);
	//jQuery( "span#borrowamount" ).text(p.toFixed(0));
	jQuery( "#days" ).text(d);
	jQuery( "#daysINP" ).val(d);
	jQuery( "#interest" ).text(I.toFixed(0));
	jQuery( "#interestamountINP" ).val(I.toFixed(0));
	jQuery( "#totalamount" ).text(total.toFixed(0));
 jQuery( "#totalamountINP" ).val(total.toFixed(0));
	/*jQuery( "#borrowamount" ).val(p);
	jQuery( "#interest" ).val(I.toFixed(0));
	jQuery( "#totalamount" ).val(total.toFixed(0));
	jQuery( "#days" ).val(d);*/
}
jQuery(function(){
	var slider,slider1;
	//Days function
	date_disp(15);
	// intrest calculater function
	getInt(30000,15);
});
var tooltipElement = jQuery('<div class="ui-slider-tooltip amt" aria-hidden="true" />');
var tooltip;
var slider  =jQuery('#designQualityAmount > div').slider({
	range: "min",
	value: 30000,
	min: 5000,
	max: 100000,
	step: 1000,
	create: function ( event ) {
	jQuery( event.target ).find('.ui-slider-handle').append( tooltipElement );
	tooltip = jQuery('.ui-slider-tooltip');
	},
	change: function ( event, ui ) {
	var input = jQuery( event.target ).parent().find('input.answer');
	input.val( ui.value );
	jQuery("span#borrowamount").text(ui.value);
	jQuery("#borrowamountINP").val(ui.value);
	getInt(ui.value,jQuery("#days").text());
	window.tooltip.text( ui.value );
	window.tooltip.attr('aria-hidden', 'false');
	},
	slide: function ( event, ui ) {
				tooltip = jQuery('.ui-slider-tooltip.amt');
		window.tooltip.text( ui.value );
		jQuery("span#borrowamount").text(ui.value);
	jQuery("#borrowamountINP").val(ui.value);
	getInt(ui.value,jQuery("#days").text());
	window.tooltip.attr('aria-hidden', 'false');
	//window.tooltip.attr('aria-hidden', 'true');
	}
});

var tooltipElement1 = jQuery('<div class="ui-slider-tooltip day" aria-hidden="true" />');
var tooltip1;
 slider1  = $('#designQualityDay > div').slider({
	range: "min",
	value: 15,
	min: 1,
	max: 90,
	step: 1,
	create: function ( event ) {
	jQuery( event.target ).find('.ui-slider-handle').append( tooltipElement1 );
	tooltip1 = jQuery('.ui-slider-tooltip.day');
	},
	change: function ( event, ui ) {
	var input1 = jQuery( event.target ).parent().find('input.answer');
	input1.val( ui.value );
	jQuery("span#days").text(ui.value);
	jQuery("#daysINP").val(ui.value);
	getInt(jQuery("#borrowamount").text(),ui.value);
	window.tooltip1.text( ui.value );
	date_disp(ui.value);
	window.tooltip1.attr('aria-hidden', 'false');
	},
	slide: function ( event, ui ) {
tooltip1 = jQuery('.ui-slider-tooltip.day');
	window.tooltip1.text( ui.value );
	date_disp(ui.value);
	jQuery("span#days").text(ui.value);
	jQuery("#daysINP").val(ui.value);
	getInt(jQuery("#borrowamount").text(),ui.value);
	window.tooltip1.attr('aria-hidden', 'false');
	//window.tooltip1.attr('aria-hidden', 'true');
	}
});

jQuery(document).ready(function(){

	// Borrow Amount minus
	jQuery("#amountminus").click(function(){
		var sliderCurrentValue = jQuery('#designQualityAmount > div').slider( "option", "value" );
		slider.slider( "value", sliderCurrentValue - 1000 );
	});
	//Borrow Amount plus
	jQuery("#amountplus").click(function(){
		var sliderCurrentValue = jQuery('#designQualityAmount > div').slider( "option", "value" );
		slider.slider( "value", sliderCurrentValue + 1000 );
	});


	// days minus
	jQuery("#daysminus").click(function(){
		var sliderCurrentValue = jQuery('#designQualityDay > div').slider( "option", "value" );
		slider1.slider( "value", sliderCurrentValue - 1 );
		date_disp(sliderCurrentValue - 1);
	});
	//days plus
	jQuery("#daysplus").click(function(){
		var sliderCurrentValue = jQuery('#designQualityDay > div').slider( "option", "value" );
		slider1.slider( "value", sliderCurrentValue + 1 );
		date_disp(sliderCurrentValue + 1);
	});
	/*jQuery("button#subbtn").click(function(event){alert("hi");
		jQuery("#confirmnew").show();alert("bye");
		});
	jQuery("#newUser").click(function(){
		//alert("hi");
		var url=jQuery("#rlpform").serialize();
		window.location.href="personal?"+url;
	});
	jQuery("#logIn").click(function(){
		//alert("bye");
		window.location.href="login";
	});*/

jQuery(".FastEnqSubmit").click(function(){
var emailNewsletter=jQuery("#email").val();
var mobileNewsletter=jQuery("#mobile").val();
if(emailNewsletter.trim() =='')
{
jQuery("#email").focus();
return false;
}
else if(mobileNewsletter.trim() =='')
{
jQuery("#mobile").focus();
return false;
}
else
{
jQuery.ajax({
type: 'POST',
// url: 'http://www.loan4smile.com/default/home/fastquery',
dataType: "jsonp",
data:{email: emailNewsletter,mobile: mobileNewsletter},
success: function(data)
{
				alert("Your query has been successfully submitted.");
},
error:function()
{
alert("Your query has been successfully submitted.");
}
	});
}
 });
});
</script>

<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap" class="fancybox-ie"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div></body></html>
